{% extends "layout.html" %}

{% block title %}Poista arvostelu{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Poista arvostelu</h3>
<p>Haluatko varmasti poistaa arvostelun?</p>
<form action="/delete_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="delete" value="Poista arvostelu" />
  <input type="submit" name= "cancel" value="Peruuta" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin arvosteluun</a>
</p>
{% endblock %}
