{% extends "layout.html" %}
{% block title %}Muokkaa viestiä{% endblock %}
{% block content %}

<h2>Muokkaa viestiä</h2>

<form action="/edit_message/{{ message.id }}" method="post">
  <p>
    <label for="content">Viesti</label>:<br />
    <textarea id="content" name="content" rows="5" cols="40" maxlength="5000" required>{{ message.content }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>

{% endblock %}
