{% extends "layout.html" %}

{% block title %}Muokkaa arvostelua{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Muokkaa arvostelua</h3>
<form action="/update_item" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" value="{{ item.title }}" maxlenght="150" required />
  </p>
  <p>
    Arvosteluteksti: <br />
    <textarea name="review_text" rows="30" cols=60" maxlenght="5000" required>{{ item.review_text }}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      {% if selected_classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Päivitä arvostelu" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin arvosteluun</a>
</p>
{% endblock %}
