<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <h1>Muokkaa arvostelua</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlenght="150" required />
    </p>
    <p>
      Arvosteluteksti: <br />
      <textarea name="review_text" rows="30" cols=60" maxlenght="5000" required>{{ item.review_text }}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Päivitä arvostelu" />
  </form>
</body>

</html>
