<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Elokuva-arvostelut</h1>
  </div>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}

<div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivulle</a>
        <li><a href="/search_item">Hae arvosteluita</a>
        {% if session.user_id %}
        <li><a href="/new_item">Lisää arvostelu</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
