{% extends "layout.html" %}

{% block title %}Lisää arvostelu{% endblock %}

{% block content %}
<h2>Lisää arvostelu</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlenght="150" required/>
  </p>
  <p>
    <label for="review_text">Arvosteluteksti:</label> <br />
    <textarea name="review_text" id="review_text" rows="30" cols="60" maxlenght="5000" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää arvostelu" />
</form>
{% endblock %}
