<!DOCTYPE html>
<html>

<head>
  <title>Lisää arvostelu</title>
</head>

<body>
  <h1>Lisää arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlenght="150" required/>
    </p>
    <p>
      Arvosteluteksti: <br />
      <textarea name="review_text" rows="30" cols="60" maxlenght="5000" required></textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="">(valitse)</option>
        <option value="draama">draama</option>
        <option value="toiminta">toiminta</option>
        <option value="kauhu">kauhu</option>
        <option value="jännitys">jännitys</option>
        <option value="komedia">komedia</option>
        <option value="romantiikka">romantiikka</option>
        <option value="sci-fi">sci-fi</option>
        <option value="seikkailu">seikkailu</option>
        <option value="animaatio">animaatio</option>
        <option value="dokumentti">dokumentti</option>
      </select>
    </p>
    <input type="submit" value="Lisää arvostelu" />
  </form>
</body>

</html>
