{% extends "layout.html" %}

{% block title %}Etsi arvosteluita{% endblock %}

{% block content %}
<h2>Etsi arvosteluita</h2>

<form action="/search_item" method="get">
  <p>
    <label for="query">Etsi</label>:
    {% if query %}
    <input type="text" name="query" id="query" value="{{ query }}">
    {% else %}
    <input type="text" name="query" id="query"/>
    {% endif %}
  </p>
  <input type="submit" value="Etsi">
</form>

{% if query %}
<h3>Tulokset</h3>
  
<ul>
{% for item in results %}
  <li>
    <a href="/item/{{ item.id }}">{{ item.title }}</a>
  </li>  
{% endfor %}
{% if results %}
<p class="page-nav">
  {% if page > 1 %}
    <a href="{{ url_for("search_item", query=query, page=page-1) }}">&lt;&lt;</a>
  {% endif %}
  Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %}
    <a href="{{ url_for("search_item", query=query, page=page+1) }}">&gt;&gt;</a>
  {% endif %}
</p>
<hr />
{% endif %}
{% endif %}
{% endblock %}
